<div class="icon-container">
  <img src="assets/client-1.png" />
  <img src="assets/client-2.png" />
  <img src="assets/client-3.png" />
  <img src="assets/client-4.png" />
  <img src="assets/client-5.png" />
  <img src="assets/client-6.png" />
</div>

<footer>
  <div class="footer-content">
    <div class="Contact-block">
      <p class="Contact-block__title">Contact Us</p>
      <p class="Contact-block__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
        earum quam ullam explicabo quae numquam at! Rerum odio nam voluptatem
      </p>
      <p class="Contact-block_email">Email: company_email.com</p>
      <p class="Contact-block_phone">Phone:361-688-5824</p>
      <p class="Contact-block_address">
        Address:4826 White Avenue, Corpus Chiristi, Texas
      </p>
    </div>
    <div class="form-block">
      <div class="input-container">
        <p class="input-container__title">Your Name</p>
        <input type="text" class="form-block__input" />
      </div>
      <div class="input-container">
        <p class="input-container__title">Your Email</p>
        <input type="email" class="form-block__input" />
      </div>
      <p class="input-container__title">Message</p>
      <textarea class="form-block__input --size3"></textarea>
      <button class="form-block__button">Submit</button>
    </div>
  </div>
  <div class="footer__line">
    <p class="copyrigth">Copyright © 2028 Chen, Yi-Ya.</p>
    <div class="container_images">
     <img src="/assets/icons.png" class="container_images__item">
    </div>
  </div>
</footer>
