<header>
  <div class="content">
    <img src="/assets/logo.png" class="content__logo" />
    <p class="content__slogan">
      A New Way <br />
      To Start Businnes
    </p>
    <p class="content__description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, explicabo
      natus assumenda est earum doloremque velit laborum debitis dsfsd
    </p>
    <button class="content__button">Get Started</button>
  </div>
  <p class="header__title">Get Early Access</p>
</header>
