/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
}

:root {
  --textColor: white;
}

button {
  cursor: pointer;
}